<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to Maharashtra Tourism</title>
    @*<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">*@
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
   
</head>

<body>
                    <nav>
                        <ul>
                       
                            <li class="liaction"@*style="font-size:7px;font-family:Arial, Helvetica, sans-serif"*@>@*<a  class="logo" style="padding:0;font-size:30px" href="#" >*@ 
                            @Html.ActionLink("MSTDC", "Index","Home", new { @class = "logo"})@*<strong>MSTDC</strong>*@@*</a>*@</li>
                          
                            <li>@*<a style="padding:0" href="#">Things To Do</a>*@
                            @Html.ActionLink("Things To Do","Index","Home", new { @class = "liaction" })
                            </li>
                          
                            <li class="liaction">
                                @*<a style="padding:0" href="#"> *@
                                @Html.ActionLink("Where To Go", "Index", "Home")@*Where To Go*@@*</a>*@
                            </li>
                          
                            <li class="liaction">
                                @*<a style="padding:0" href="#banner1">*@
                                @Html.ActionLink("Experience Maharashtra", "Index", "Home",new {htmlAttributes= new { id = "banner1" }})
                                                    </li>
                          
                            <li class="liaction">
                                @*<a style="padding:0" href="#">*@
                                @Html.ActionLink("Where To Stay", "Index", "Home")@*Where To Stay*@@*</a>*@
                                                    </li>
                          
                            <li class="liaction">
                                @*<a  style="padding:0" href="nextpage1.html">*@
                                @Html.ActionLink("Register", "LoginSignup", "Home")@*Register*@@*</a>*@
                            </li>
                        </ul>


                    </nav>
              
    <!--end of nav-->
    <!--start of banner-->
    <!--end of banner-->
    <!----skills section------>
    <!----end skills section------>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MSTDC</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
