<!DOCTYPE html>
<html>
<head>
    <title>
        PUNE
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to Maharashtra Tourism</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/footer1.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("MSTDC", "Index", "Home", new { @class = " navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li @*class="active"*@>@Html.ActionLink("HOME", "Index", "Home", null, new { @class = "" })</li>
                    <li>@Html.ActionLink("CITIES", "Index", "Home", null, new { @class = "" })</li>
                    <li>@Html.ActionLink("PLACES", "Index", "Home", new { htmlAttributes = new { id="" } })</li>
                    <li>@Html.ActionLink("GALLERY", "Index", "Home")</li>
                </ul>
                <div class="navlog">
                    <ul>
                        @Html.ActionLink("Login", "LoginC", "Login", null, new { @class = "" })
                        @Html.ActionLink("Register", "SignUpC", "SignUp", null, new { @class = "" })
                    </ul>
                </div>
                <form class="navbar-form navbar-right" style="margin-top:-35px">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter City, Place or Hotel">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
               
            </div>
        </div>
    </nav>
  
    <div class="">
        @RenderBody()
        @*<hr />*@
        <div>
            <footer id="myFooter">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h2 class="logo"><a href="#"> MSTDC </a></h2>
                        </div>
                        <div class="col-sm-2">
                            <h5>Get Started</h5>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <br>
                                <li><a href="#">Sign up</a></li>
                                <br>
                                <li><a href="#">Downloads</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h5>About us</h5>
                            <ul>
                                <li><a href="#">Company Information</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <br>
                                <li><a href="#">Reviews</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h5>Support</h5>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <br>
                                <li><a href="#">Help desk</a></li>
                                <br>
                                <li><a href="#">Forums</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <div class="social-networks">
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <p>© 2019 MSTDC TEAM Copyright </p>
                </div>
                <p>&copy; @DateTime.Now.Year - MSTDC</p>
            </footer>
        </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
